===============
Getting Started
===============

In this example, we will generate labels on a mock dataset of transactions. For each customer, we want to label whether the total purchase amount over the next hour of transactions will exceed $300. Additionally, we want to predict one hour in advance.

Load Data
=========

With the package installed, we load in the data. To get an idea on how the transactions looks, we preview the data frame.

In [1]:
import composeml as cp

df = cp.demos.load_transactions()

df[df.columns[:7]].head()

,transaction_id,session_id,product_id,amount,customer_id
transaction_time,,,,,
2014-01-01 03:13:51,190,14,5,120.52,1
2014-01-01 11:04:42,350,19,3,65.43,3
2014-01-02 11:44:35,254,11,5,128.51,4
2014-01-02 17:12:39,337,16,2,105.15,2
2014-01-02 17:46:20,177,29,5,65.11,1

Create Labeling Function
========================

To get started, we define the labeling function that will return the total purchase amount given a hour of transactions.

In [2]:
def total_spent(df):
    total = df['amount'].sum()
    return total

Construct Label Maker
=====================

.. currentmodule:: composeml

With the labeling function, we create the :class:`LabelMaker` for our prediction problem. To process one hour of transactions for each customer, we set the :code:`target_entity` to the customer ID and the :code:`window_size` to one hour.

In [3]:
label_maker = cp.LabelMaker(
    target_entity="customer_id",
    time_index="transaction_time",
    labeling_function=total_spent,
    window_size="1h",
)

Generate Labels
===============

Next, we automatically search and extract the labels by using :py:meth:`LabelMaker.search`.

In [4]:
labels = label_maker.search(
    df.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    gap=1,
    verbose=True,
)

labels.head()

Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|██████████| customer_id: 125/125

          customer_id         cutoff_time  my_labeling_function
label_id
0                   1 2014-01-01 04:13:51                 65.11
1                   1 2014-01-03 15:41:34                101.08
2                   1 2014-01-05 11:46:10                 16.78
3                   1 2014-01-06 09:54:58                108.16
4                   1 2014-01-08 08:54:02                 48.33

Transform Labels
================

With the generated :class:`LabelTimes`, we will apply specific transforms for our prediction problem.

Apply Threshold on Labels
-------------------------
To make the labels binary, :py:meth:`LabelTimes.threshold` is applied for amounts exceeding $300.

In [5]:
labels = labels.threshold(300)

labels.head()

          customer_id         cutoff_time  my_labeling_function
label_id
0                   1 2014-01-01 04:13:51                 False
1                   1 2014-01-03 15:41:34                  True
2                   1 2014-01-05 11:46:10                 False
3                   1 2014-01-06 09:54:58                  True
4                   1 2014-01-08 08:54:02                 False

Lead Label Times
----------------

Additionally, the label times are shifted one hour earlier for predicting in advance by using :py:meth:`LabelTimes.apply_lead`.

In [6]:
labels = labels.apply_lead('1h')

labels.head()

          customer_id         cutoff_time  my_labeling_function
label_id
0                   1 2014-01-01 03:13:51                 False
1                   1 2014-01-03 14:41:34                  True
2                   1 2014-01-05 10:46:10                 False
3                   1 2014-01-06 08:54:58                  True
4                   1 2014-01-08 07:54:02                 False

Describe Labels
===============

After transforming the labels, we can use :py:meth:`LabelTimes.describe` to print out the distribution with the settings and transforms that were used to make these labels. This is useful as a reference for understanding how the labels were generated from raw data. Also, the label distribution is helpful for determining if we have imbalanced labels.

In [7]:
labels.describe()

Label Distribution
------------------
False      75
True       50
Total:    125


Settings
--------
num_examples_per_instance    25
minimum_data                 1h
window_size                  1h
gap                           1


Transforms
----------
1. threshold
  - value:    100

2. apply_lead
  - value:    1h

Plot Labels
===========

Also, there are plots available for insight to the labels.

.. code-block:: python

    import matplotlib.pyplot as plt

    fig, axs = plt.subplots(1,2)
    fig.subplots_adjust(wspace=.34)

    color = ['#4285F4', '#DB4437']
    labels.plot.distribution(color=color, ax=axs[0])
    labels.plot.count_by_time(figsize=(12, 4), color=color, ax=axs[1]);
   
.. image:: images/getting_started_0.0.png