# Predict Next Purchase

In [1]:
%matplotlib inline
import composeml as cp
import data

## Load Data

In [2]:
df = data.load_orders('data', nrows=100000)
df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,department,user_id
order_time,,,,,,,,,
2015-01-01 09:00:00,3031,33120,2,1,Organic Egg Whites,86,16,dairy eggs,2555
2015-01-07 18:00:00,3031,27086,1,1,Half & Half,53,16,dairy eggs,2555
2015-02-04 18:00:00,5640,33120,9,1,Organic Egg Whites,86,16,dairy eggs,155
2015-03-04 18:00:00,5640,12384,6,1,Organic Lactose Free 1% Lowfat Milk,91,16,dairy eggs,155
2015-04-01 18:00:00,5640,47209,7,1,Organic Hass Avocado,24,4,produce,155

In [11]:
print(df[df.product_name.eq('Banana')].head())

                     order_id  product_id  add_to_cart_order  reordered  \
order_time
2016-10-29 14:00:00      4890       24852                  1          1
NaT                      5608       24852                  5          1
NaT                      5833       24852                  2          1
NaT                      1509       24852                 18          1
NaT                      5784       24852                  1          1

                    product_name  aisle_id  department_id department  user_id
order_time
2016-10-29 14:00:00       Banana        24              4    produce      451
NaT                       Banana        24              4    produce     2655
NaT                       Banana        24              4    produce     4520
NaT                       Banana        24              4    produce     2335
NaT                       Banana        24              4    produce     4599

## Generate Labels

### Create Labeling Function

In [ ]:
def bought_product(df, product_name):
    purchased = df.product_name.eq(product_name).any()
    return purchased

### Construct Label Maker

In [ ]:
lm = cp.LabelMaker(
    target_entity='user_id',
    time_index='order_time',
    labeling_function=bought_product,
    window_size='4w',
)

### Search Labels

In [ ]:
lt = lm.search(
    df,
    product_name='Banana',
    num_examples_per_instance=100,
    verbose=True,
)
lt.head()

### Describe Labels

In [ ]:
lt.describe()
lt.plot.distribution();