====================
Data Slice Generator
====================
The data slice generator is the underlying function used to generate data slices for the labeling function. If the label maker raises an error during the search or the output labels doesn't seem right, then you will need to check the logic in the labeling function or inspect the data for any inherent errors. This is where the data slice generator can help us do both. Ideally, you also want to use the generator during the development of your labeling function for best practice. However, it is an optional step and not required to generate labels.

In this guide, we will use the data slice generator to inspect data slices and develop our labeling function. To get started, let's load a mock dataset of transactions and sample the data to see how the transactions look.

In [3]:
import composeml as cp

In [121]:
df = cp.demos.load_transactions()
df = df[df.columns[:7]]
df.sample(n=5, random_state=0)

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device
26,94,24,2014-01-01 05:55:20,5,100.42,5,tablet
86,274,7,2014-01-01 01:46:10,5,14.45,3,tablet
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop
55,275,4,2014-01-01 00:45:30,5,108.11,1,mobile
75,368,27,2014-01-01 06:36:30,5,139.43,1,mobile

Labeling Function
=================
Let's define a labeling function that will return how much a customer spent given a slice of transactions.

In [43]:
def total_spent(df):
    total = df['amount'].sum()
    return total

.. currentmodule:: composeml

Data Slices
===========
The :meth:`LabelMaker.slice` method will create the data slice generator. The parameters of this method can be passed directly to :meth:`LabelMaker.search` to generate the labels. In the following sections, we will use the data slice generator to see how the gap size can make the data slices overlap, consecutive, or spread out.

.. seealso::
    For more details on how the label maker works, see :doc:`/main_concepts`.

Overlap
-------
When the the gap size is less than the window size, the data slices will overlap. The amount of overlap is the difference between the window and gap size. For example, if the window size is 3 hours and the gap size is 1 hour, then 2 hours will overlap on each data slice. To demonstrate this example, let's generate data slices using these parameters.

We create a lable maker with the 3-hour window size.

In [78]:
lm = cp.LabelMaker(
    target_entity="customer_id",
    time_index="transaction_time",
    labeling_function=total_spent,
    window_size="3h",
)

Then, we create a data slice generator with the 1-hour gap size.

.. tip::
   You can directly set :code:`minimum_data` as the first cutoff time.

In [79]:
slices = lm.slice(
    df.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    minimum_data='2014-01-01',
    gap="1h",
)

Overlap - Data Slice #1
~~~~~~~~~~~~~~~~~~~~~~~
By printing this data slice, we can see that it's the first slice of transactions (denoted by the :code:`slice_number`) for customer 1. This data slice contains all of the customer's transactions that occurred within the 3-hour window between :code:`2014-01-01 00:00:00` and :code:`2014-01-01 03:00:00`. We can also see that the 1-hour gap spaces apart the cutoff time of this data slice at :code:`2014-01-01 00:00:00` from the cutoff time of the next data slice at :code:`2014-01-01 01:00:00`.

In [80]:
ds = next(slices)
print(ds)
ds

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 03:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 01:00:00)

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 03:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 01:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [81]:
total_spent(ds)

965.6700000000001

Overlap - Data Slice #2
~~~~~~~~~~~~~~~~~~~~~~~
In the second slice of transactions, we can see that there is a 2-hour overlap on transactions that occurred between :code:`2014-01-01 01:00:00` and :code:`2014-01-01 03:00:00`. This is useful for labels that require a rolling window.

In [82]:
ds = next(slices)
print(ds)
ds

slice_number                                             2
customer_id                                              1
window          [2014-01-01 01:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 01:00:00, 2014-01-01 02:00:00)

slice_number                                             2
customer_id                                              1
window          [2014-01-01 01:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 01:00:00, 2014-01-01 02:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [83]:
total_spent(ds)

821.6400000000001

Spread Out
----------
When the the gap size is greater than the window size, then there is data in-between data slices that will be skipped. The amount of data skipped is the difference between the gap and window size. For example, if the gap size is 3 hours and the window size is 1 hours, then 2 hours of data will be skipped in-between data slices. To demonstrate this example, let's generate data slices using these parameters.

We create a lable maker with the 1-hour window size.

In [84]:
lm = cp.LabelMaker(
    target_entity="customer_id",
    time_index="transaction_time",
    labeling_function=total_spent,
    window_size="1h",
)

Then, we create a data slice generator with the 3-hour gap size.

In [85]:
slices = lm.slice(
    df.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    minimum_data='2014-01-01',
    gap="3h",
)

Spread Out - Data Slice #1
~~~~~~~~~~~~~~~~~~~~~~~~~~

In [86]:
ds = next(slices)
print(ds)
ds

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 01:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 03:00:00)

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 01:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 03:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [87]:
total_spent(ds)

361.96999999999997

Spread Out - Data Slice #2
~~~~~~~~~~~~~~~~~~~~~~~~~~

In [88]:
ds = next(slices)
print(ds)
ds

slice_number                                             2
customer_id                                              1
window          [2014-01-01 03:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 03:00:00, 2014-01-01 06:00:00)

slice_number                                             2
customer_id                                              1
window          [2014-01-01 03:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 03:00:00, 2014-01-01 06:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [89]:
total_spent(ds)

217.94

Consecutive
-----------
When the the gap size is equal to the window size, the data slices are consecutive. In other words, the data slices do not overlap and are not spread out (e.g. don't skip any data). This is the default value for the gap size. To demonstrate this example, let's generate data slices using these parameters.

We create a lable maker with the 2-hour window size.

In [92]:
lm = cp.LabelMaker(
    target_entity="customer_id",
    time_index="transacti1on_time",
    labeling_function=total_spent,
    window_size="2h",
)

Then, we create a data slice generator with the 2-hour gap size.

In [93]:
slices = lm.slice(
    df.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    minimum_data='2014-01-01',
)

Consecutive - Data Slice #1
~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [94]:
ds = next(slices)
print(ds)
ds

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 02:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 02:00:00)

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 02:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 02:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [95]:
total_spent(ds)

914.7300000000001

Consecutive - Data Slice #2
~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [96]:
ds = next(slices)
print(ds)
ds

slice_number                                             2
customer_id                                              1
window          [2014-01-01 02:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 02:00:00, 2014-01-01 04:00:00)

slice_number                                             2
customer_id                                              1
window          [2014-01-01 02:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 02:00:00, 2014-01-01 04:00:00)

Let's apply our labeling function for the total spent on this data slice.

In [97]:
total_spent(ds)

268.88

Data Slice Context
==================
Each data slice has a :code:`context` attribute which can be used to access its metadata.

In [239]:
vars(ds.context)

{'gap': (Timestamp('2014-01-01 02:00:00'), Timestamp('2014-01-01 04:00:00')),
 'window': (Timestamp('2014-01-01 02:00:00'),
  Timestamp('2014-01-01 04:00:00')),
 'slice_number': 2,
 'target_entity': 'customer_id',
 'target_instance': 1}