===============
Slice Generator
===============
The slice generator is the underlying function used to generate data slices for the labeling function. If the label maker raises an error during the search or the ouptut labels doesn't seem right, then you will need to check the logic in the labeling function or inspect the data for any inherent errors. This is where the slice generator can help us do both. Ideally, you also want to use the slice generator during the development of your labeling function for best practice. However, it is an optional step and not required to generate labels.

In this guide, we will use the slice generator to inspect data slices and develop our labeling function.

In [3]:
import composeml as cp

Load Data
=========
Let's load in a mock dataset of transactions and preview the data to see how it looks.

In [4]:
df = cp.demos.load_transactions()

df.head()

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,date_of_birth,brand
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
1,10,1,2014-01-01 00:09:45,5,57.39,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
3,460,10,2014-01-01 02:33:50,5,123.19,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
4,302,10,2014-01-01 02:37:05,5,64.47,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A

Labeling Function
=================
Let's define a labeling function that will return how much a customer spent given a slice of transactions.

In [9]:
def total_spent(df):
    total = df['amount'].sum()
    return total

Data Slices
===========
The gap size will determine whether the data slices overlap or spread out.

Overlap
-------
When the the gap size is less than the window size, the data slices will overlap. The amount of overlap is the difference between the window and gap size. For example, if the window size is 3 hours and the gap size is 1 hour, then 2 hours will overlap on each data slice. Let's generate and inspect the data slices using these parameters. First, we create a lable maker with a 3-hour window size.

In [11]:
lm = cp.LabelMaker(
    target_entity="customer_id",
    time_index="transaction_time",
    labeling_function=total_spent,
    window_size="3h",
)

.. currentmodule:: composeml

Then, we use :meth:`LabelMaker.slice` with a 1-hour gap size to generate the data slices.

.. tip::
   You can directly set :code:`minimum_data` as the first cutoff time!

In [18]:
slices = label_maker.slice(
    df.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    minimum_data='2014-01-01',
    gap="1h",
)

Slice 1
~~~~~~~

In [19]:
ds = next(slices)
print(ds)
ds.head()

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 03:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 01:00:00)

slice_number                                             1
customer_id                                              1
window          [2014-01-01 00:00:00, 2014-01-01 03:00:00)
gap             [2014-01-01 00:00:00, 2014-01-01 01:00:00)

In [41]:
total_spent(ds)

821.6400000000001

Slice 2
~~~~~~~

In [38]:
ds = next(slices)
print(ds, end='\n\n')
ds.head()

slice_number                                             2
customer_id                                              1
window          [2014-01-01 01:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 01:00:00, 2014-01-01 02:00:00)

slice_number                                             2
customer_id                                              1
window          [2014-01-01 01:00:00, 2014-01-01 04:00:00)
gap             [2014-01-01 01:00:00, 2014-01-01 02:00:00)

In [41]:
total_spent(ds)

821.6400000000001

Spread Out
----------
When the the gap size is greater than the window size, then there is data in-between data slices that will be skipped. The amount of data skipped is the difference between the gap and window size. For example, if the gap size is 8 hours and the window size is 5 hours, then 3 hours of data will be skipped in-between data slices.

Consecutive
-----------
When the the gap size is equal to the window size, the data slices are consecutive. In other words, the data slices do not overlap and are not spread out (e.g. don't skip any data). This is the default value for the gap size.