===============
Slice Generator
===============
The slice generator is the underlying function used to generate data slices for the labeling function. If the label maker raises an error during the search or the ouptut labels doesn't seem right, then you will need to check the logic in the labeling function or inspect the data for any inherent errors. This is where the slice generator can help us do both. Ideally, you also want to use the slice generator during the development of your labeling function for best practice. However, it is an optional step and not required to generate labels.

In this guide, we will use the slice generator to inspect data slices and develop our labeling function.

In [3]:
import composeml as cp

Load Data
=========
Let's load in a mock dataset of transcations and preview the data to see how it looks.

In [4]:
df = cp.demos.load_transactions()

df.head()

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,date_of_birth,brand
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
1,10,1,2014-01-01 00:09:45,5,57.39,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
3,460,10,2014-01-01 02:33:50,5,123.19,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A
4,302,10,2014-01-01 02:37:05,5,64.47,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18 00:00:00,A

Generate Slices
===============
The slice generator can be used from the label maker by calling :code:`slice` instead of :code:`search`. All the parameters for :code:`slice` can be passed directly to :code:`search`.

The gap size will determine whether the data slices overlap or spread out.

When the the gap size is less than the window size, the data slices will overlap. The amount of overlap is the amount that the window size is larger than the gap size. For example, if the window size is 8 hours and the gap size is 5 hours, then 3 hours will overlap on each data slice.

When the the gap size is greater than the window size, then there is data in-between data slices that will be skipped. The amount of data that is skipped is the amount that the gap size is larger than the window size. For example, if the gap size is 8 hours and the window size is 5 hours, then 3 hours of data will be skipped in-between data slices.

When the the gap size is equal to the window size, the data slices are consecutive. In other words, the data slices do not overlap and are not spread out (e.g. don't skip any data). This is the default value for the gap size.